%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-

[
 {lager,
  [{handlers,[{lager_console_backend,info},
              {lager_file_backend,[{file,"../../../logs/debug.log"},
                                   {level, {{log_level}}},
                                   {size,10485760000},
                                   {check_interval, 60000},
                                   {sync_on, emergency},
                                   {sync_size, 1024000}
                                  ]}]}
  ]}
].
        
