{erl_opts, [debug_info, fail_on_warning,
            {parse_transform, lager_transform},
            {i, "deps"},
            {i, "apps"}
           ]}.

{sub_dirs, ["apps/*"]}.

{deps, [
  {'lager', ".*", {git, "https://github.com/basho/lager.git", "2.0.3"}},
  {'folsom', ".*", {git, "https://github.com/boundary/folsom.git", "4824aec693c7f284363f19d999289952ec4ed586"}}
]}.
